<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="IFSC">
    <mat-header-cell *matHeaderCellDef> IFSC </mat-header-cell>
    <mat-cell *matCellDef="let element" class="mx-0_5"> {{element.ifsc}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let element" class="mx-0_5"> {{element.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Branch">
    <mat-header-cell *matHeaderCellDef> Branch </mat-header-cell>
    <mat-cell *matCellDef="let element" class="mx-0_5"> {{element.branch}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Address">
    <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
    <mat-cell *matCellDef="let element" class="mx-0_5"> {{element.address}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="City">
    <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
    <mat-cell *matCellDef="let element" class="mx-0_5"> {{element.city}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="District">
    <mat-header-cell *matHeaderCellDef> District </mat-header-cell>
    <mat-cell *matCellDef="let element" class="mx-0_5"> {{element.district}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="State">
    <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
    <mat-cell *matCellDef="let element" class="mx-0_5"> {{element.state}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Bank name">
    <mat-header-cell *matHeaderCellDef> Bank name </mat-header-cell>
    <mat-cell *matCellDef="let element" class="mx-0_5"> {{element.bank_name}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
