<mat-form-field class="mr-2">
  <input matInput (input)="applyFilter()" placeholder="Filter" [(ngModel)]="searchValue">
</mat-form-field>
<mat-form-field class="mr-2">
  <mat-label>
    Select city
  </mat-label>
  <mat-select (selectionChange)="setBankSelected($event)" [(value)]="selectValue">
    <mat-option value=0>
      -- Select --
    </mat-option>
    <mat-option *ngFor="let bank of bankNames" [value]="bank">
      {{bank}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <input matInput (input)="changePagination($event)" placeholder="Change Page size">
</mat-form-field>
<div class="spinner-container" *ngIf="banksData.length < 1">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="Favorite">
    <mat-header-cell *matHeaderCellDef> Favorite </mat-header-cell>
    <mat-cell *matCellDef="let element;" class="mx-0_5">
      <button mat-icon-button color="primary" (click)="changeFavoriteState(element.index, !element.favorite)">
        <ng-container *ngIf="element.favorite; then favorite; else favorite_border"></ng-container>
        <ng-template #favorite>
            <mat-icon>favorite</mat-icon>
        </ng-template>
        <ng-template #favorite_border>
            <mat-icon>favorite_border</mat-icon>
        </ng-template>
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="IFSC">
    <mat-header-cell *matHeaderCellDef> IFSC </mat-header-cell>
    <mat-cell *matCellDef="let element" class="mx-0_5"> {{element.ifsc}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let element" class="mx-0_5"> {{element.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Branch">
    <mat-header-cell *matHeaderCellDef> Branch </mat-header-cell>
    <mat-cell *matCellDef="let element" class="mx-0_5"> {{element.branch}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Address">
    <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
    <mat-cell *matCellDef="let element" class="mx-0_5"> {{element.address}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="City">
    <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
    <mat-cell *matCellDef="let element" class="mx-0_5"> {{element.city}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="District">
    <mat-header-cell *matHeaderCellDef> District </mat-header-cell>
    <mat-cell *matCellDef="let element" class="mx-0_5"> {{element.district}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="State">
    <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
    <mat-cell *matCellDef="let element" class="mx-0_5"> {{element.state}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Bank name">
    <mat-header-cell *matHeaderCellDef> Bank name </mat-header-cell>
    <mat-cell *matCellDef="let element" class="mx-0_5"> {{element.bank_name}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
